In [17]:
t = "Hi i am pranav"

In [18]:
#build in function for string manupulation
print(t.capitalize())  # Capitalizes the first letter of the string 
print(t.upper())       # Converts the entire string to uppercase
print(t.lower())       # Converts the entire string to lowercase
print(t.title())       # Capitalizes the first letter of each word in the string
print(t.swapcase())    # Swaps the case of each letter in the string
print(t.replace("pranav", "Pranav"))  # Replaces 'pranav' with 'Pranav'
print(t.count("a"))    # Counts the occurrences of 'a' in the string
print(t.find("i"))     # Finds the first occurrence of 'i' and returns its index
print(t.index("i"))    # Similar to find, but raises an error if 'i' is not found
print(t.startswith("Hi"))  # Checks if the string starts with 'Hi'

Hi i am pranav
HI I AM PRANAV
hi i am pranav
Hi I Am Pranav
hI I AM PRANAV
Hi i am Pranav
3
1
1
True

In [19]:
t.split()

['Hi', 'i', 'am', 'pranav']

In [33]:
# Splits the string into a list of words
t=" hello i am pranav"
t.strip().split()      # Removes leading/trailing whitespace, then splits by whitespace
 # Finds the first occurrence of 'i' and returns its index

['hello', 'i', 'am', 'pranav']

In [30]:
t.find("i")

7

In [34]:
t="python@gmail.com"

In [36]:
t.find('@gmail.com')  # Finds the index of '@gmail.com' in the string

6

In [39]:
t.replace('@gmail.com', '@yahoo.com')  # Replaces '@gmail.com' with '@yahoo.com'

'python@yahoo.com'

In [47]:
t[:6].upper() # Takes the first 6 characters and converts them to uppercase

'PYTHON'

In [90]:
# List in Python
# A list is a collection of items that can be of different types, including numbers, strings
# it is an ordered collection of emlements that can be stored all type of data and it is mutable.
l = [1, 2, 3, "pranav", "hello", 4.5, [1, 2, 3]]
print(l)  # Prints the entire list

[1, 2, 3, 'pranav', 'hello', 4.5, [1, 2, 3]]

In [ ]:
l.append("new item")  # Adds a new item to the end of the list

[1,
 2,
 'inserted item',
 'inserted item',
 'inserted item',
 3,
 'pranav',
 'hello',
 4.5,
 [1, 2, 3],
 'new item',
 'new item',
 'new item',
 'new item',
 'new item',
 'new item']

In [66]:
l.insert(2, "inserted item")  # Inserts an item at index 2

In [80]:
l.pop(0)  # Removes and returns the last item from the list

1

In [84]:
l.extend([10, 20, "multiple", "elements"])  # Adds multiple elements to the end of the list

In [91]:
len(l)

7

In [92]:
h = [2,3,4,5,["hello", "world"], 6,7,8, "this is a list"]

In [98]:
h[8]# Accesses the first element of the nested list at index 4

'this is a list'

In [117]:
h[4][1]= 'ho' # Replaces 'hello' with 'how' in the first element of the nested list

In [ ]:
#tuple in python
# A tuple is similar to a list, but it is immutable, meaning its elements cannot be changed after creation.
# Tuples are defined using parentheses () instead of square brackets [].    
tup = (1, 2, 3, "pranav", "hello", 4.5, [1, 2, 3])
print(tup)  # Prints the entire tuple
print(tup[0])  # Accesses the first element of the tuple
print(tup[3])  # Accesses the fourth element of the tuple
print(tup[6][1])  # Accesses the second element of the nested list within the tuple
print(tup.count("pranav"))  # Counts the occurrences of 'pranav' in the tuple
print(tup.index("hello"))  # Finds the index of 'hello' in the tuple

(1, 2, 3, 'pranav', 'hello', 4.5, [1, 2, 3])

In [120]:
# set
# A set is an unordered collection of unique items. It is defined using curly braces {}.
s = {1, 2, 3, "pranav", "hello", 4.5}

In [122]:
s.pop()

'pranav'

In [126]:
s.remove(1)

In [129]:
s.update({10, 20, "new set item"})  # Adds multiple elements to the set

In [ ]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}
s3 = s1.union(s2)  # Combines two sets, removing duplicates
s4 = s1.intersection(s2)  # Finds common elements between two sets
s5 = s1.difference(s2)  # Finds elements in s1 that are not in s2
s6 = s1.symmetric_difference(s2)  # Finds elements that are in either set but not both

In [ ]:
'''list                        tuple                               set
ordered                  ordered                             unordered
mutable                  immutable                           mutable    
[]                        ()                                   {}
contains duplicates   contains duplicates               no duplicates allowed
indexing/slicing       indexing/slicing                   no indexing/slicing'''

In [ ]:
#Dictionary
# A dictionary is a collection of key-value pairs. It is defined using curly braces {} with 
# keys and values separated by colons.
d = {
    "name": "pranav",
    "age": 25,
    "city": "pune",
    "skills": ["python", "java", "c++"]
}

In [ ]:
#remove a value from dictionary from skills
d["skills"].remove("java")  # Removes 'java' from the list of skills

In [ ]:
d["skills"][0].insert("javascript")  # Adds 'javascript' to the list of skills

In [2]:
print("hello")

hello